$defualtmargin: 5px;
$headercol: #1f4258;
$navbottom: -20px;
h1,
h2,
h3 {
    color: $headercol;
    margin-left: 10px;
}

form {
    margin-left: 10px;
}

%navbar {
    background-color: #d7e3eb;
    margin: $defualtmargin;
    margin-bottom: $navbottom;
    margin-left: 10px;
}

.navname {
    background-color: #d7e3eb;
}

.vertnav {
    @extend %navbar;
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 5px;
    display: none;
}

nav {
    @extend %navbar;
    float: left;
}

a:hover {
    color: white;
    background-color: $headercol;
}

.myname {
    @extend %navbar;
    float: right;
}

#hint {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #d99595;
    text-align: center;
    font-size: 2vh;
}

.images {
    margin: $defualtmargin;
    margin-bottom: 20px;
    margin-left: 10px;
}

.row img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .navname {
        display: none;
    }
    .vertnav {
        display: block;
    }
}

ul li {
    padding-bottom: 10px;
}

td {
    text-align: left;
}

table {
    border-collapse: separate;
    border-spacing: 10px 0;
    text-align: left;
}

.error {
    color: #e71616;
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}

.btn-link:active {
    color: #FF0000;
}

.rating {
    float: left;
    margin-top: -2px;
}

.rating>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

// Rating css based on https://gist.github.com/blairanderson/7f9d1c08345c6573e09edaa1f7316fa1
.rating>label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
}

.rating>label:before {
    content: '★ ';
}

.rating>input:checked~label {
    color: gold;
}

.rating>label:hover,
.rating>label:hover~label {
    color: #f2e388;
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: gold;
}

.rating>label:active {
    position: relative;
    top: 2px;
    left: 2px;
}