{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}

<h1>Login</h1>
{% if logError != '' %}
<div class=error>{{ logError }}</div>
{% endif %}
<form name="login" action="{{ url_for('login') }}" method="post">
    <input type="text" name="Username" placeholder="Username" required>
    <input type="password" name="Password" placeholder="Password" required>
    <input type="hidden" name="login">
    <button>Login</button>
</form>

<h1>Register</h1>
{% if regError != '' %}
<div class=error>{{ regError }}</div>
{% endif %}
{% if regComplete %}
<div>Registration Complete! You can now login above</div>
{% endif %}
<form name="register" action="{{ url_for('login') }}" method="post">
    <input type="text" name="Username" placeholder="Username" required>
    <input type="password" name="Password" placeholder="Password" required>
    <input type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
    <input type="hidden" name="register">
    <button>Register</button>
</form>

{% endblock %}